body{
	/*background: #f4f6f6;*/
	background:url(backgrounds/newsBack.png);
	font-family: Arial;
}

.ui{
	list-style: none;
	margin-top:-8px;
	padding-left: 38%;
	height: 50px;
}

.li{
	float:left;
}

.a{
	color:#3498db;
	font-family: Arial;
	font-size: 17px;
	padding:0px 15px;
	line-height:50px;
	display:block;
	text-decoration: none;
	-moz-transition: all 0.3s 0.01s ease;
	-o-transition: all 0.3s 0.01s ease;
	-webkit-transition: all 0.3s 0.01s ease;
}
.a:hover{
	border-bottom:3px solid;
}

#News{
	border-bottom:3px solid;
}

.news{
	width:70%;
	position: absolute;
	font-size:18px;
	background: #28a9e0;
    opacity: 0.7;
    text-align:left;
    padding: 12px 12px;
    margin-left: 14%;
}

hr{
	width: calc(100% - (-58px));
	margin-left: -50px;
	margin-top:-13px;
	border: none;
	background:#e5e7e9;
	height: 2px;
	-moz-transition: all 0.1s 0.01s ease;
	-o-transition: all 0.1s 0.01s ease;
	-webkit-transition: all 0.1s 0.01s ease;

}