body{
	/*background: #f4f6f6;*/
	background:url(backgrounds/newsBack.png);
	font-family: Arial;
}

/*Меню сайта*/
.ui{
	list-style: none;
	margin-top:-8px;
	display:flex;
	justify-content:center;
}

.li{
	float:left;
	display:flex;
}
.a{
	color:#3498db;
	font-size: 17px;
	padding:0px 15px;
	line-height:50px;
	text-decoration: none;
	-moz-transition: all 0.3s 0.01s ease;
	-o-transition: all 0.3s 0.01s ease;
	-webkit-transition: all 0.3s 0.01s ease;
	
}
.a:hover{
	border-bottom:3px solid;
}
/*Меню сайта*/

#News{
	border-bottom:3px solid;
}

.date{
	color:#2E4053;
}

.news{
	width:70%;
	font-size:18px;
	background: #28a9e0;
    opacity: 0.8;
    text-align:left;
    padding: 12px 12px;
    margin-left:auto;
    margin-right:auto;
}

#img3{
	width:600px;
	height:377px;
}

#img2{
	width:500px;
	height:327px;
}

#rec{
	text-align:center;
}

#a{
	color:#154360;
}

#a:hover{
	color: #283747;
	text-decoration:none;
}

hr{
	width: calc(100% - (-58px));
	margin-left: -50px;
	margin-top:-16px;
	border: none;
	background:#e5e7e9;
	height: 2px;
	-moz-transition: all 0.0001s 0.0001s ease;
	-o-transition: all 0.0001s 0.0001s ease;
	-webkit-transition: all 0.0001s 0.0001s ease;

}