body{
	background: #FFF;
	font-family: "Arial";
	margin:0px;
	padding:0px;
}

.ui{
	background:#0e2426;
	list-style: none;
	display:flex;
	justify-content:center;
	margin-top:0px;
}

.li{
	float:left;
}
.a{
	color:#FFF;
	font-size: 17px;
	padding:0px 15px;
	line-height:50px;
	text-decoration: none;
	
}
.a:hover{
	text-decoration:underline;
}

.up_back{
	margin-top:-16px;
	width:100%;
	height:100%;
	opacity:0.6;
}

@font-face{
	font-family:"BAUHS93"; 
	src: url("../Fonts/AGENCYB.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
}

.p{
	font-size:100px;
	color:#0e2426;
	top:180px;
	left:20%;
	position:absolute;
	text-decoration:none;
	font-family:BAUHS93;
}

p{
	font-size:60px;
	color:#0e2426;
	top:250px;
	left:30%;
	position:absolute;
	text-decoration:none;
	font-family:BAUHS93;
}

.download{
	background:#e74c3c;
	color:#FFF;
	text-decoration:none;
	font-size:26px;
	padding: 5px 5px;
	border-radius:3px;
	right:10%;
	position:absolute;
	top:460px;
}

@media screen and (max-width: 663px){
	p{
		font-size:136px;
		position:absolute;
		top:450px;
	}
	.p{
		font-size:200px;
		position:absolute;
		left:10%;
		top:320px;
	}
	.download{
		position:absolute;
		text-align:center;
		font-size:70px;
		top:70%;
		margin-right:auto;
		margin-left:auto;
	}
	.up_back{
		position:relative;
		width:150%;
		height:150%;
		left:-245px;
	}

}