/* Обнуление стилей */
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*after{
	-moz-box=siting: border-box;
	-webkit-box-siting: border-box;
	box-sizing: border-box;
}
:focus, active{outline: none;};
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family:inherit;}

input::ms-clear{display: none;}
button{coursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visisted{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

/* Подключение стилей  */
@font-face {
  font-family: RobotoCondensed;
  src: url('../fonts/RobotoCondensed.ttf');
}

@font-face {
  font-family: RobotoSlab;
  src: url('../fonts/RobotoSlab.ttf');
}

@font-face {
  font-family: GamestationCondensed;
  src: url('../fonts/GamestationCondensed.otf');
}

@font-face {
  font-family: ConsolateElf;
  src: url('../fonts/ConsolateElf.ttf');
}

/* общие стили */

.button {
	background-color: #2466e6;
	color: #ffffff;

	border-radius: 4px;
	font-family: RobotoSlab;

	transition-property: background-color;
	transition-duration: 0.1s;
}

.button:active {
	background-color: #1a4dcc;
	color: #f0f0f0;
}

a {text-decoration: none;}
