body{
	background:url(newsBack.png);
	position:auto;
}

.back{
	position:absolute;
	padding: 20px;
	left:13%;
    background: #2E4053;
    border: 2px solid #0093FF;
    border-radius:3px;
    color:#FFF;
    font-family:Arial;
    font-size:20px;
    opacity: 0.7;
}

#date{
	color:#949698;
}

#download{
	font-size:20px;
	text-decoration: none;
	background:#36404A;
	color:#FFF;
	position:absolute;
	font-family:Arial;
	padding: 2px 11px;
}

#download:hover{
	opacity: 0.5;
	border-radius:2px;
}

@media (max-width: 1600px){
	.back{
		width:1100px;
	}
}

@media (max-width: 1500px){
	.back{
		width:1000px;
	}
}

@media (max-width: 1400px){
	.back{
		width:900px;
	}
}

@media (max-width: 1300px){
	.back{
		width:800px;
	}
}

@media (max-width: 1200px){
	.back{
		width:700px;
	}
}

@media (max-width: 1100px){
	.back{
		width:600px;
	}
}

@media (max-width: 1000px){
	.back{
		width:500px;
	}
}

@media (max-width: 900px){
	.back{
		width:400px;
	}
}

@media (max-width: 800px){
	.back{
		width:400px;
	}
}

@media (max-width: 700px){
	.back{
		width:300px;
		font-size:14px;
	}
	#download{
		right:1%;
		font-size:15px;
	}
}

@media (max-width: 1115px){
	#download{
		right:2%;
	}
}

@media (min-width: 1620px){
	.back{
		width:1100px;
	}
}