/* Панель навигации */
nav {
  position: fixed;
  width: 100%;
  height: 40px;
  top: 0px;
  left: 0px;
  z-index: 999;

  font-size: 17px;
  font-family: sans-serif;
  font-weight: bold;

  transition: height 0.5s ease, width 0.9s ease;

  opacity: 0.9;
  background: #000000;
}

nav li { position: relative; display: inline; top: 10px;}
nav .document-nav { text-align: center; }

@media screen and (min-width: 800px) {
  nav a { color: #ffffff; text-decoration: none; margin: 0px 10px;}
  nav a:hover { color: #4796FF; }
  nav .open-nav:hover { color: #468FFF; }
  nav .open-nav {
    position: absolute;
    text-align: left;
    top: -5px;
    left: 20px;

    font-size: 30px;

    color: #ffffff;
    cursor: pointer;
  }
}

@media screen and (max-width: 800px) {
  nav {
    height: 160px;

    opacity: 0.8;
  }
  nav li { display: block; top: 0px;}
  nav .open-nav {
    position: relative;
    text-align: center;

    font-size: 30px;

    color: #ffffff;
    cursor: pointer;
  }
  nav a { display: block; color: #ffffff; text-decoration: none; padding: 7px;}
}
/* Панель навигации */

/* Header */
header {
  width: 100%;
  height: 300px;

  box-shadow: 0px 0px 50px #000000;
  background: #2850b4;
}

header hgroup a { color: #ffffff; text-decoration: none; }
header h1 {
  position: relative;
  top: 70px;

  font-size: 70px;
  font-family: RobotoSlab;

  text-align: center;
}
header h2 {
  position: relative;
  top: 80px;

  font-size: 14px;
  font-family: RobotoSlab;

  color: #ffffff;
  text-align: center;
}
/* Header */

/* Раздел с информацией */
.info-section {
  width: 100%;
  height: 300px;

  background: #c5c5c5;
  box-shadow: 0px 0px 10px #000000;
}
.info-section .info-game {
  position: relative;
  width: 40%;
  left: 10%;

  font-family: RobotoSlab;
  color: #1e1e1e;
}
.info-section .info-game h2 {
  position: relative;
  padding: 40px 0px;

  font-size: 30px;
}
.info-section .info-game p {
  position: relative;

  font-size: 25px;
}
.info-section img {
  position: relative;
  float: right;

  left: 100%;

  width: 350px;

}

@media screen and (max-width: 1406px) {
  .info-section .info-game {
    width: 40%;
    top: -30px;
    left: 10%;
  }
}

@media screen and (max-width: 1092px) {
  .info-section .info-game {
    width: 60%;
    left: 10%;
  }
}

@media screen and (max-width: 776px) {
  .info-section .info-game {
    width: 90%;
    left: 5%;

    text-align: center;
  }

  .info-section .info-game h2 {
    font-size: 25px;
  }
  .info-section .info-game p {
    font-size: 23px;
  }
}

@media screen and (max-width: 504px) {
  .info-section .info-game h2 {
    font-size: 25px;
    padding: 40px 0px 10px 0px;
  }
  .info-section .info-game p {
    font-size: 20px;
  }
}

@media screen and (max-width: 329px) {
  .info-section .info-game {
    width: 100%;
    left: 0%;
  }
}

/* Раздел скачивания */
.download-section {
  width: 100%;
  height: 450px;

  box-shadow: 0px 0px 40px #6077d5;
  background: linear-gradient(180deg, #6077d5, #4b6fff);
}

.download-section {

}
/* Раздел скачивания */

/* Подвал */
footer {
  width: 100%;
  height: 70px;

  font-size: 17px;
  font-family: sans-serif;
  font-weight: bold;

  opacity: 0.9;
  background: #000000;
}
/* Подвал */
